<a href="https://colab.research.google.com/github/maduSulakshi20/FarmCare/blob/Crop-Recommandation-(IT19199986)/CropRecommendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Imports**

In [1]:
import openpyxl
import numpy as np
import pandas as pd

# **Soil Type For Crops**

In [2]:
crop_soil_type = {
    'fruits': ['diyasilu', 'regosols'],
    'vegetable': [
                  'reddish brown',
                  'red yellow podzolic',
                  'immature brown loams',
                  'reddish brown latosolic',
                  'lithosol',
                  'diyasilu'
                  ],
    'red chili': ['red latosols'],
    'rice': [
            'reddish brown latosolic',
            'immature brown loams',
            'red yellow latasol',
            'reddish brown',
            'diyasilu',
            'lithosol',
            'red yellow podzolic',
            ]
}
crop_to_soil_crop = {
  'plantain':  'fruits',
  'limes': 'fruits',
  'oranges': 'fruits',
  'papaw': 'fruits',
  'potatoes': 'vegetable',
  'red onion': 'vegetable',
  'big onion': 'vegetable',
  'chillies': 'red chili',
  'beans': 'fruits',
  'brinjals': 'fruits',
  'cabbage': 'vegetable',
  'carrot': 'vegetable',
  'red pumpkin': 'vegetable',
  'snake gourd': 'vegetable',
  'paddy': 'rice'
}

# **Production (Data extraction and preprocessing)**

# Read data from excel

In [3]:
def get_column(sheet_obj, start_raw_num, column_num):

    raw_num = start_raw_num
    lst = []

    while(True):

        cell_obj = sheet_obj.cell(row=raw_num, column=column_num)
        if cell_obj.value == None:
          break
        lst.append(cell_obj.value)
        raw_num += 1

    return lst

def get_raw(sheet_obj, raw, columns):

    lst = []

    for column in columns:
      cell_obj = sheet_obj.cell(row=raw, column=column)
      lst.append(cell_obj.value)

    return lst

def get_extent_production(sheet_obj, start_raw_other, columns, end_year, end_district, ignore_districts):
  raw_num = start_raw_other
  data = []
  while True:
    lst = get_raw(sheet_obj, raw_num, columns)

    try: year = int(lst[0])
    except: 
      raw_num += 1
      continue

    district = lst[1].strip().lower()
    extent = lst[2]
    production = lst[3]

    if year == end_year and district == end_district: break

    extent_val = 0.0
    production_val = 0.0

    try:
      extent_val = float(extent)
    except:
      extent_val = 0.0

    try:
      production_val = float(production)
    except:
      production_val = 0.0

    if district not in ignore_districts:
      data.append([year, district, extent_val, production_val])

    raw_num += 1
  return data

In [4]:
price_excel_path = "//content//Extent & Production.xlsx"

data_ym_prod = {
    'maha season': {},
    'yala season': {}
}

data_prod = {}

wb_obj = openpyxl.load_workbook(price_excel_path)

In [5]:
sheet_name_other = wb_obj.sheetnames[0]
sheet_obj_other = wb_obj[sheet_name_other]

start_raw_other = 5

columns_other_potatoes_m = [3, 4, 5, 6]
columns_other_red_onion_m = [3, 4, 7, 8]
columns_other_big_onion_m = [3, 4, 9, 10]
columns_other_chillies_m = [3, 4, 11, 12]

columns_other_potatoes_y = [3, 4, 14, 15]
columns_other_red_onion_y = [3, 4, 16, 17]
columns_other_big_onion_y = [3, 4, 18, 19]
columns_other_chillies_y = [3, 4, 20, 21]

data_ym_prod['maha season']['potatoes'] = get_extent_production(sheet_obj_other, start_raw_other, columns_other_potatoes_m, 
                                                        2020, 'sri lanka', ['sri lanka'])
data_ym_prod['maha season']['red onion'] = get_extent_production(sheet_obj_other, start_raw_other, columns_other_red_onion_m, 
                                                         2020, 'sri lanka', ['sri lanka'])
data_ym_prod['maha season']['big onion'] = get_extent_production(sheet_obj_other, start_raw_other, columns_other_big_onion_m, 
                                                         2020, 'sri lanka', ['sri lanka'])
data_ym_prod['maha season']['chillies'] = get_extent_production(sheet_obj_other, start_raw_other, columns_other_chillies_m, 
                                                         2020, 'sri lanka', ['sri lanka'])

data_ym_prod['yala season']['potatoes'] = get_extent_production(sheet_obj_other, start_raw_other, columns_other_potatoes_y, 
                                                        2020, 'sri lanka', ['sri lanka'])
data_ym_prod['yala season']['red onion'] = get_extent_production(sheet_obj_other, start_raw_other, columns_other_red_onion_y, 
                                                         2020, 'sri lanka', ['sri lanka'])
data_ym_prod['yala season']['big onion'] = get_extent_production(sheet_obj_other, start_raw_other, columns_other_big_onion_y, 
                                                         2020, 'sri lanka', ['sri lanka'])
data_ym_prod['yala season']['chillies'] = get_extent_production(sheet_obj_other, start_raw_other, columns_other_chillies_y, 
                                                         2020, 'sri lanka', ['sri lanka'])

In [6]:
sheet_name_vegetables = wb_obj.sheetnames[1]
sheet_obj_vegetables = wb_obj[sheet_name_vegetables]

start_raw_vegetables = 6

columns_vegetables_beans_m = [3, 4, 5, 6]
columns_vegetables_brinjals_m = [3, 4, 7, 8]
columns_vegetables_cabbage_m = [3, 4, 9, 10]
columns_vegetables_carrot_m = [3, 4, 11, 12]
columns_vegetables_red_pumpkin_m = [3, 4, 13, 14]
columns_vegetables_snake_gourd_m = [3, 4, 15, 16]
columns_vegetables_tomatoes_m = [3, 4, 17, 18]

columns_vegetables_beans_y = [3, 4, 20, 21]
columns_vegetables_brinjals_y = [3, 4, 22, 23]
columns_vegetables_cabbage_y = [3, 4, 24, 25]
columns_vegetables_carrot_y = [3, 4, 26, 27]
columns_vegetables_red_pumpkin_y = [3, 4, 28, 29]
columns_vegetables_snake_gourd_y = [3, 4, 30, 31]
columns_vegetables_tomatoes_y = [3, 4, 32, 33]

data_ym_prod['maha season']['beans'] = get_extent_production(sheet_obj_vegetables, start_raw_vegetables, 
                                                     columns_vegetables_beans_m, 2020, 'sri lanka', ['sri lanka'])
data_ym_prod['maha season']['brinjals'] = get_extent_production(sheet_obj_vegetables, start_raw_vegetables, 
                                                     columns_vegetables_brinjals_m, 2020, 'sri lanka', ['sri lanka'])
data_ym_prod['maha season']['cabbage'] = get_extent_production(sheet_obj_vegetables, start_raw_vegetables, 
                                                     columns_vegetables_cabbage_m, 2020, 'sri lanka', ['sri lanka'])
data_ym_prod['maha season']['carrot'] = get_extent_production(sheet_obj_vegetables, start_raw_vegetables, 
                                                     columns_vegetables_carrot_m, 2020, 'sri lanka', ['sri lanka'])
data_ym_prod['maha season']['red pumpkin'] = get_extent_production(sheet_obj_vegetables, start_raw_vegetables, 
                                                     columns_vegetables_red_pumpkin_m, 2020, 'sri lanka', ['sri lanka'])
data_ym_prod['maha season']['snake gourd'] = get_extent_production(sheet_obj_vegetables, start_raw_vegetables, 
                                                     columns_vegetables_snake_gourd_m, 2020, 'sri lanka', ['sri lanka'])
data_ym_prod['maha season']['snake gourd'] = get_extent_production(sheet_obj_vegetables, start_raw_vegetables, 
                                                     columns_vegetables_tomatoes_m, 2020, 'sri lanka', ['sri lanka'])

data_ym_prod['yala season']['beans'] = get_extent_production(sheet_obj_vegetables, start_raw_vegetables, 
                                                     columns_vegetables_beans_y, 2020, 'sri lanka', ['sri lanka'])
data_ym_prod['yala season']['brinjals'] = get_extent_production(sheet_obj_vegetables, start_raw_vegetables, 
                                                     columns_vegetables_brinjals_y, 2020, 'sri lanka', ['sri lanka'])
data_ym_prod['yala season']['cabbage'] = get_extent_production(sheet_obj_vegetables, start_raw_vegetables, 
                                                     columns_vegetables_cabbage_y, 2020, 'sri lanka', ['sri lanka'])
data_ym_prod['yala season']['carrot'] = get_extent_production(sheet_obj_vegetables, start_raw_vegetables, 
                                                     columns_vegetables_carrot_y, 2020, 'sri lanka', ['sri lanka'])
data_ym_prod['yala season']['red pumpkin'] = get_extent_production(sheet_obj_vegetables, start_raw_vegetables, 
                                                     columns_vegetables_red_pumpkin_y, 2020, 'sri lanka', ['sri lanka'])
data_ym_prod['yala season']['snake gourd'] = get_extent_production(sheet_obj_vegetables, start_raw_vegetables, 
                                                     columns_vegetables_snake_gourd_y, 2020, 'sri lanka', ['sri lanka'])
data_ym_prod['yala season']['snake gourd'] = get_extent_production(sheet_obj_vegetables, start_raw_vegetables, 
                                                     columns_vegetables_tomatoes_y, 2020, 'sri lanka', ['sri lanka'])

In [7]:
sheet_name_fruit = wb_obj.sheetnames[2]
sheet_obj_fruit = wb_obj[sheet_name_fruit]

start_raw_fruit = 6

columns_fruit_plantain = [3, 4, 5, 6]
columns_fruit_limes = [3, 4, 7, 8]
columns_fruit_oranges = [3, 4, 9, 10]
columns_fruit_papaw = [3, 4, 11, 12]

data_prod['plantain'] = get_extent_production(sheet_obj_fruit, start_raw_fruit, 
                                         columns_fruit_plantain, 2020, 'total', ['sri lanka', 'total'])
data_prod['limes'] = get_extent_production(sheet_obj_fruit, start_raw_fruit, 
                                         columns_fruit_limes, 2020, 'total', ['sri lanka', 'total'])
data_prod['oranges'] = get_extent_production(sheet_obj_fruit, start_raw_fruit, 
                                         columns_fruit_oranges, 2020, 'total', ['sri lanka', 'total'])
data_prod['papaw'] = get_extent_production(sheet_obj_fruit, start_raw_fruit, 
                                         columns_fruit_papaw, 2020, 'total', ['sri lanka', 'total'])

In [8]:
sheet_name_paddy = wb_obj.sheetnames[3]
sheet_obj_paddy = wb_obj[sheet_name_paddy]

start_raw_paddy = 5

columns_paddy_m = [4, 5, 6, 7]
columns_paddy_y = [4, 5, 8, 9]

data_ym_prod['maha season']['paddy'] = get_extent_production(sheet_obj_paddy, start_raw_paddy, 
                                         columns_paddy_m, 2020, 'sri lanka', ['sri lanka', 'total'])
data_ym_prod['yala season']['paddy'] = get_extent_production(sheet_obj_paddy, start_raw_paddy, 
                                         columns_paddy_y, 2020, 'sri lanka', ['sri lanka', 'total'])

In [9]:
data_ym_prod['yala season'].keys()

dict_keys(['potatoes', 'red onion', 'big onion', 'chillies', 'beans', 'brinjals', 'cabbage', 'carrot', 'red pumpkin', 'snake gourd', 'paddy'])

In [10]:
data_ym_prod['maha season'].keys()

dict_keys(['potatoes', 'red onion', 'big onion', 'chillies', 'beans', 'brinjals', 'cabbage', 'carrot', 'red pumpkin', 'snake gourd', 'paddy'])

In [11]:
data_prod.keys()

dict_keys(['plantain', 'limes', 'oranges', 'papaw'])

# Add Yala/Maha

In [12]:
for crop_name in data_ym_prod['maha season'].keys():

  data_prod[crop_name] = []

  for i in range(len(data_ym_prod['maha season'][crop_name])):
    year = data_ym_prod['maha season'][crop_name][i][0]
    district = data_ym_prod['maha season'][crop_name][i][1]
    extent = data_ym_prod['maha season'][crop_name][i][2] + data_ym_prod['yala season'][crop_name][i][2] # ha : hectare
    production = data_ym_prod['maha season'][crop_name][i][3] + data_ym_prod['yala season'][crop_name][i][3] # mt : metric tons

    data_prod[crop_name].append([year, district, extent, production])

In [13]:
del data_ym_prod

In [14]:
data_prod.keys()

dict_keys(['plantain', 'limes', 'oranges', 'papaw', 'potatoes', 'red onion', 'big onion', 'chillies', 'beans', 'brinjals', 'cabbage', 'carrot', 'red pumpkin', 'snake gourd', 'paddy'])

# **MT per Ha**

In [22]:
for crop_name in data_prod.keys():

  for i in range(len(data_prod[crop_name])):
    if data_prod[crop_name][i][3] == 0: mt_per_ha = 0.0
    else: mt_per_ha = data_prod[crop_name][i][2]/data_prod[crop_name][i][3]
    data_prod[crop_name][i].append(mt_per_ha)

In [23]:
data_prod['paddy'][0]

[2016, 'colombo', 3298.0, 9250.0, 0.3565405405405405]

# **Rain and Temperature (Data extraction and Preprocessing)**

# Read data from excel

In [15]:
def get_raw(sheet_obj, start_column, raw, num_columns):

    col_num = start_column
    num_columns += start_column
    lst = []

    while(True):

        cell_obj = sheet_obj.cell(row=raw, column=col_num)
        if num_columns == col_num:
          break
        lst.append(cell_obj.value)
        col_num += 1

    return lst

In [16]:
start_raw = 5
start_column = 2
num_columns = 17
price_excel_path = "//content//Rainfall.xlsx"

wb_obj = openpyxl.load_workbook(price_excel_path)
sheet_name = wb_obj.sheetnames[1]
sheet_obj = wb_obj[sheet_name]

In [17]:
title_lst = get_column(sheet_obj, start_raw, start_column)

In [18]:
temp_data = dict()
rain_data = dict()
district = ''
districts = []

for i, item in enumerate(title_lst):
  if i%14 == 0:
    district = item.strip().lower()
    districts.append(district)
    rain_data[district] = []
    temp_data[district] = []
  elif (i-1)%14 != 0:
    rain_data[district].append(get_raw(sheet_obj, start_column+2, i+start_raw, 7))
    temp_data[district].append(get_raw(sheet_obj, start_column+10, i+start_raw, 7))

print(districts)

['colombo', 'jaffna', 'trincomalee', 'hambantota', 'ratnapura', 'anuradhapura', 'katugastota', 'bandarawela', 'nuwara eliya', 'kurunegala', 'puttalam', 'galle', 'badulla', 'mannar', 'vavuniya', 'mahailluppallama', 'batticaloa', 'katunayake', 'ratmalana', 'potuvil', 'monaragala', 'polonnaruwa', 'mattala', 'mulativu', 'kilinocchchi', 'gampaha', 'kegalle', 'matale', 'kandy']

# Data Cleanup

In [19]:
for district in districts:
  for i, lst in enumerate(rain_data[district]):
    avg = 0
    num_items = 0
    for j, item in enumerate(lst):
      val = 0
      try: 
        val = float(item)
        num_items += 1
      except: pass
      avg += val
    avg /= num_items
    for j, item in enumerate(lst):
      try: float(item)
      except: rain_data[district][i][j] = round(avg, 2)


for district in districts:
  for i, lst in enumerate(temp_data[district]):
    avg = 0
    num_items = 0
    for j, item in enumerate(lst):
      val = 0
      try: 
        val = float(item)
        num_items += 1
      except: pass
      avg += val
    if num_items == 0:
        avg = 0
    else:
      avg /= num_items
    for j, item in enumerate(lst):
      try: float(item)
      except: temp_data[district][i][j] = round(avg, 2)

In [20]:
rain_avg_year_data = {}
temp_avg_year_data = {}
temp_rain_districts = rain_data.keys()

for district in temp_rain_districts:
  rain_year_data = np.zeros(7, np.float16)
  temp_year_data = np.zeros(7, np.float16)

  for month in range(12):
    rain_year_data += np.array(rain_data[district][month], np.float16)
    temp_year_data += np.array(temp_data[district][month], np.float16)
  
  rain_avg_year_data[district] = list(rain_year_data/12)
  temp_avg_year_data[district] = list(temp_year_data/12)

# **Create main data tablefor train model**

# Link Rainfall, temperature and Production data

In [24]:
data_prod_temp_rain = []

# year | district | production MTs per year per Ha | avg rain (year) | avg temp (year)

for crop in data_prod.keys():
  for crop_prod_data in data_prod[crop]:
    district = crop_prod_data[1]
    if district not in temp_rain_districts: continue

    year = crop_prod_data[0]
    prod_per_year_per_ha = crop_prod_data[4]
    lst = [crop, district, 
           rain_avg_year_data[district][year - 2015],
           temp_avg_year_data[district][year - 2015],
           prod_per_year_per_ha, year]
    data_prod_temp_rain.append(lst)

In [25]:
len(data_prod_temp_rain)

1430

In [26]:
main_table = pd.DataFrame(
    data_prod_temp_rain,
    columns=['crop', 'district', 'avg rain (year)', 'avg temp (year)', 'MTs/year/Ha', 'year'],
    )

In [27]:
main_table

,crop,district,avg rain (year),avg temp (year),MTs/year/Ha,year
0,plantain,colombo,196.50000,28.671875,0.553284,2016
1,plantain,gampaha,184.62500,0.000000,0.472412,2016
2,plantain,kandy,253.37500,0.000000,0.601358,2016
3,plantain,matale,167.25000,0.000000,1.065611,2016
4,plantain,nuwara eliya,94.81250,16.546875,1.677609,2016
...,...,...,...,...,...,...
1425,paddy,anuradhapura,105.18750,28.390625,0.230611,2020
1426,paddy,polonnaruwa,120.81250,28.859375,0.213279,2020
1427,paddy,trincomalee,124.75000,28.921875,0.228938,2020
1428,paddy,batticaloa,134.62500,28.890625,0.298403,2020
1429,paddy,hambantota,59.78125,262.500000,0.186375,2020