<a href="https://colab.research.google.com/github/maduSulakshi20/FarmCare/blob/Price-Prediction-(IT19118178)/Crop_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**FarmCare - Crop Price Prediction (Crop Price Prediction for Next 12 Months)**

Dataset used : 
1.  Rainfall and temperature (2015 - 2021)

2.  Wholesale price of crops

In [1]:
import openpyxl
import pandas as pd

Load Rainfall and Temperature data

In [2]:
# Load the rainfall and temperature data set 
# Give the start raw, and column cells 
start_raw = 5
start_column = 2
num_columns = 17
rainfall_temp_file_path = "//content//Rainfall & Temperature.xlsx"

In [3]:
# Read data in columns and write to a list
def get_column(sheet_obj, start_raw, column):

    raw_num = start_raw
    lst = []

    while(True):

        cell_obj = sheet_obj.cell(row=raw_num, column=column)
        if cell_obj.value == None:
          break
        lst.append(cell_obj.value)
        raw_num += 1

    return lst

# Read data in raws and write to a list
def get_raw(sheet_obj, start_column, raw, num_columns):

    col_num = start_column
    num_columns += start_column
    lst = []

    while(True):

        cell_obj = sheet_obj.cell(row=raw, column=col_num)
        if num_columns == col_num:
          break
        lst.append(cell_obj.value)
        col_num += 1

    return lst

In [4]:
# Load the dataset and define the sheet which has data
wb_obj = openpyxl.load_workbook(rainfall_temp_file_path)
sheet_name = wb_obj.sheetnames[1]
sheet_obj = wb_obj[sheet_name]

In [5]:
#Read column values in the excel
title_lst = get_column(sheet_obj, start_raw, start_column)

In [6]:
# Create a list of values in the column titles and the array
temp_data = dict()
rain_data = dict()
district = ''
districts = []

for i, item in enumerate(title_lst):
  if i%14 == 0: 
    district = item.strip().lower()
    districts.append(district)
    rain_data[district] = []
    temp_data[district] = []
  elif (i-1)%14 != 0:
    rain_data[district].append(get_raw(sheet_obj, start_column+2, i+start_raw, 7))
    temp_data[district].append(get_raw(sheet_obj, start_column+10, i+start_raw, 7))

print(districts)

['colombo', 'jaffna', 'trincomalee', 'hambantota', 'ratnapura', 'anuradhapura', 'katugastota', 'bandarawela', 'nuwara eliya', 'kurunegala', 'puttalam', 'galle', 'badulla', 'mannar', 'vavuniya', 'mahailluppallama', 'batticaloa', 'katunayake', 'ratmalana', 'potuvil', 'monaragala', 'polonnaruwa', 'mattala']

In [7]:
# Read rainfall data to find if there is a 0 or null value
# If 0 or null add average value to those cells
for district in districts:
  for i, lst in enumerate(rain_data[district]):
    avg = 0
    num_items = 0
    for j, item in enumerate(lst):
      val = 0
      try: 
        val = float(item)
        num_items += 1
      except: pass
      avg += val
    avg /= num_items
    for j, item in enumerate(lst):
      try: float(item)
      except: rain_data[district][i][j] = round(avg, 2)

# Read temperature data to find if there is a 0 or null value
# If 0 or null add average value to those cells

for district in districts:
  for i, lst in enumerate(temp_data[district]):
    avg = 0
    num_items = 0
    for j, item in enumerate(lst):
      val = 0
      try: 
        val = float(item)
        num_items += 1
      except: pass
      avg += val
    avg /= num_items
    for j, item in enumerate(lst):
      try: float(item)
      except: temp_data[district][i][j] = round(avg, 2)

In [10]:
# Display the rain data list in Colombo (2015 - 2020 monthly wise)
rain_data['colombo']

[[32.7, 65.3, 82.7, 45.7, 15.4, 115.6, 148],
 [122.5, 106.7, 92.3, 108.8, 157, 0.1, 35],
 [220.9, 91.3, 133.8, 68.8, 41.4, 41.3, 161],
 [267.7, 185.9, 81.2, 265, 193.8, 212.5, 209],
 [169.2, 752.4, 343.4, 421.7, 126.9, 200.2, 246],
 [237.8, 132.3, 141.5, 155.8, 257.2, 111.9, 127],
 [37.3, 49.2, 47.2, 68.9, 136.1, 196.1, 142],
 [90.7, 1.1, 70.3, 63.9, 288.4, 97.5, 120],
 [631.4, 29, 355.2, 263.7, 609.8, 517.7, 139],
 [235.4, 374, 467.1, 539.7, 354.9, 125.6, 240],
 [525.8, 404.8, 294.2, 420.7, 433.6, 143.6, 417],
 [376.6, 165.1, 172.3, 139.5, 250.3, 321.6, 76]]